[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
ipdb = "*"

[packages]
flask = "*"
python-dotenv = "*"
ipdb = "*"

[requires]
python_version = "3.7.0"
